<link rel="stylesheet" href="../css/styles.css">

<div class='article-container'>
    {{#each this}}
    <div class='article'>
        <div class='title-img'>
            <h3>
                <a href='{{link}}'>{{title}}</a>
                <br>
                <a href='{{link}}'>
                    <img src='{{img}}' alt='article-image' />
                </a>
            </h3>
        </div>

        <div class='summary'>
            <p>{{summary}}</p>
        </div>
        <br>
        <button class='comment' id='{{_id}}'>Leave a comment!</button>
 
    </div>
    {{/each}}
</div>
<div class='comment-container'>
    <div class='box-text'>
        <h2>User Comments</h2>
        <div class='user-comments'>
            <p>
                
            </p>
        </div>
        <h2>Comment Box</h2>
        <textarea class='box'></textarea>
        
        <button type='submit'>Submit Comment</button>
        
    </div>
</div>