<link rel="stylesheet" href="../css/styles.css">

<div class='article-container'>
    {{#each this}}
    <div class='article'>
        <div class='title'>
            <h2>
                <a href='{{link}}'>{{title}}</a>
            </h2>
        </div>
        <br>
        <div class='image-summary'>
            <a href='{{link}}'>
                <img src='{{img}}' alt='article-image' />
            </a>
            <p class='summary'>
                {{summary}}
            </p>
        </div>
        <div id='myModal' class='modal'>
            <div class="modal-content">
                <span class="close">&times;</span>
                Title
                <input id='insert-title' type='text'>
                <br> Note
                <textarea id='insert-body'></textarea>
                <button id='submit-note' type='submit'>Save Note</button>
            </div>
        </div>
        <div class='comment-div'>
            <button class='note' id='{{_id}}'>Create Note</button>
            <button class='view-edit' id='{{id}}'>View/Edit Note</button>
            <button class='save' id='{{_id}}'>Save Article</button>
        </div>
        <br>
    </div>
    {{/each}}
</div>
</div>