<link rel="stylesheet" href="../css/styles.css">

<div class='article-continer'>
    {{#each this}}
    <div class='article'>
        <h3>
            <a href='{{link}}'>{{title}}</a>
        </h3>
        <div class='image-summary'>
            <a href='{{link}}'>
                <img src='{{img}}' alt='article-image' />
            </a>

            <p>{{summary}}</p>
        </div>
    </div>
    {{/each}} {{!--
    <div id='comment-box'>
        <textarea rows='4' cols='50'>Hello</textarea>
    </div> --}}
</div>